/* You can add global styles to this file, and also import other style files */

@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';


.fc .fc-button-primary:focus {
  box-shadow: 0;
}

//botões lado esquerdo
button.fc-button.fc-button-primary:enabled {
  background-color: #017a01;
  border-style: none;
}

button.fc-timeGridWeek-button.fc-button.fc-button-primary:disabled{
  background-color:#0D0D0D;
  border-style: none;
}


//Lado direito
button.fc-today-button.fc-button.fc-button-primary:enabled {
  background-color: #017a01;
  border-style: none;
}
button.fc-today-button.fc-button.fc-button-primary:disabled {
  background-color: #017a01;
  border-style: none;
}


