<header>

  <div class="justify-content-center">
    <h1 href="/">Sistema Moisés</h1>
  </div>

  <ul class="row nav ">
    <li class="col nav-item"><a href="#" style="color:#F0DCF2" class="nav-link link-dark px-2" aria-current="page">Reservas da Semana</a></li>
    <li class="col nav-item"><a href="#" style="color:#F0DCF2" class="nav-link link-dark px-2">Novidades</a></li>
    <li class="col nav-item"><a href="#" style="color:#F0DCF2" class="nav-link link-dark px-2">Sobre</a></li>
    <li class="col nav-item"><a href="login" style="color:#F0DCF2" outerLinkActive="active" class="nav-link link-dark px-2">Login</a></li>
  </ul>
</header>
<br>
<main>
  <router-outlet></router-outlet>
</main>
