<header>

  <div class="justify-content-center">
    <h1 href="/">Sistema Moisés</h1>
  </div>

  <ul class="row nav ">
    <li class="col nav-item"><a routerLink="/home" style="color:#F0DCF2" class="nav-link link-dark px-2" aria-current="page">Home</a></li>
    <li *ngIf="authSimples" class="col nav-item"><a routerLink="/usuario" style="color:#F0DCF2" class="nav-link link-dark px-2">Minhas Reservas</a></li>
    <li *ngIf="authAdmin" class="col nav-item"><a routerLink="/dashboard" style="color:#F0DCF2" class="nav-link link-dark px-2">Painel do Administrador</a></li>
    <li class="col nav-item"><a routerLink="/login" style="color:#F0DCF2" outerLinkActive="active" class="nav-link link-dark px-2">Login</a></li>
  </ul>
</header>
<br>
<main>
  <router-outlet (activate)="onActivate($event)" ></router-outlet>
</main>
